# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# tex docs

Docs/Guide.aux
Docs/Guide.log
Docs/Guide.out
Docs/Guide.synctex.gz
Docs/Guide.toc